<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Registration Results:</h1>
<h2>Total Visitors {{counter}}</h2>

<h2>Result: Success</h2>
<h3>Full Name: {{full_name}} </h3>
<h3>Date of Birth: {{session['dob']}} </h3>
   
    
  <form action="/reset_visitors" method="post">
    <input type="submit" name="" id="" value="Reset Visitors Counter">
  </form>
 
</body>
</html>