<!DOCTYPE html>
<html lang="en">
<h>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>POST form Submission - Flask Track</h1>
    <h3>User Registration:</h3>
    <form action="/users" method="post">
    <input type="hidden" name="which_form" value="register">

        <div class="form-row">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" required>
        </div>
    
        <div class="form-row">
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" required>
        </div>
    
        <div class="form-row">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
    
        <div class="form-row">
          <label for="birthdate">Date of Birth:</label>
          <input type="date" id="birthdate" name="birthdate" required>
        </div>
    
        <div class="form-row">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
    
        <div class="form-row">
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
    
        <div class="form-row">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
    
        <div class="form-row">
          <input type="submit" value="Register">
        </div>
      </form>


      <h3>User Login:</h3>/

      <form action="/users" method="post">
        <input type="hidden" name="which_form" value="login">

        <div class="form-row">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
   
        <div class="form-row">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
       
        <div class="form-row">
          <input type="submit" value="Login">
        </div>
      </form>

</body>
</html>