@media only screen and (max-width: 380px){
    .sm-0 {
        /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
        /* display: none; */
        width: 100%;

     }
}
@media only screen and (min-width: 381px){
    .med-1 {
        /* anything with the class .med-1 will get 25% of the available width if the screen's width is greater than 480px */
        width: 50%;
    }
}

@media only screen and (min-width: 581px){
    .big-1 {
        /* anything with the class .med-1 will get 25% of the available width if the screen's width is greater than 480px */
        width: 25%;
    }
}



div{
    border: 1px solid red;
}
