<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Many to Many project</title>
</head>
<body>
    <h1>Welcome to Many to Many</h1>

    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    <h2>List of Publishers with their books:</h2>
<ul>
    {% for publisher in all_publishers %}
    <li>{{publisher.name}}
        <ol>
            {% for book in publisher.books.all %}

      <li>  {{book.title}}</li>
      {% endfor %}

        </ol>

    </li>
    {% endfor %}
</ul>


    <form action="/add_book" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="book title" id="">
        <input type="submit" value= "Add Book">
    </form>
    <hr>
    <form action="/add_publisher"  method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="publisher name" id="">
        <input type="submit" value= "Add Publisher">
    </form>

<h2>List of Books:</h2>
<ul>
    {% for book in all_books %}
    <li>{{book.title}}</li>
    {% endfor %}
</ul>
<hr>

<h2>List of Publishers:</h2>
<ul>
    {% for publisher in all_publishers %}
    <li>{{publisher.name}}</li>
    {% endfor %}
</ul>

    <form action="/connection"  method="post">
        {% csrf_token %}
        <select name="books">
            {% for book in all_books %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select>     
        <select name="publishers">
            {% for publisher in all_publishers %}
            <option value="{{publisher.id}}">{{publisher.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value= "Add">
    </form>





</body>
</html>